Django>=3.0,<4.0
psycopg2>=2.8
djangorestframework==3.13.1
markdown==3.3.6
django-filter==21.1 
djangorestframework_simplejwt==5.0.0
django-rest-passwordreset
django-allauth==0.48.0
django-ckeditor==6.2.0
celery==4.2.1
redis==2.10.6

