{% extends "admin/change_form.html" %}

{% block admin_change_form_document_ready %}
{{ block.super }}

<script>
    console.log($("#id_status :selected").text());
    if ($("#id_status :selected").text() == "draft" ){
        $("#id_status option[value='unpublish']").hide();
        $("#id_status option[value='archived']").hide();
    } 
    if($("#id_status :selected").text() == "publish"){
        $("#id_status option[value='archived']").hide();
        $("#id_status option[value='draft']").hide();
    }
    if($("#id_status :selected").text() == "unpublish"){
        $("#id_status option[value='archived']").hide();
        $("#id_status option[value='draft']").hide();
    }
    if($("#id_status :selected").text() == "archived"){
        $("#id_status option[value='publish']").hide();
        $("#id_status option[value='unpublish']").hide();
        $("#id_status option[value='draft']").hide();
    }


</script>

{% endblock %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{{ media }}
{% endblock %}