{% extends "admin/change_form.html" %}

{% block admin_change_form_document_ready %}
{{ block.super }}

<script>
    if ($("#id_status option[value='draft']")) {
        $("#id_status option[value='unpublish'], #id_status option[value='archived', #id_status option[value='archived_deleted']").hide()
    }
    if ($("#id_status option[value='publish']")) {
        $("#id_status option[value='unpublish'],#id_status option[value='archived']").show()
        $("#id_status option[value='draft']").hide()
    }
    if ($("#id_status option[value='archived_deleted']")){

    }
</script>

{% endblock %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{{ media }}
{% endblock %}